/vendor/
/tests/
/Documentation_fr.wps
/.VSCodeCounter/debug.log 
/.VSCodeCounter/
src/view/testEnum.php
src/config.php
private/picture/*.png
private/picture/*.webp
private/picture/*.jpg
private/picture/*.jpeg
private/picture/*.bmp
~$cumentation_fr.wps
