<tr>
    <td><img src="/picture/family/{filename}" /></td>
    <td>
        <p class="bold" title="Titre de la photo"><i class="fa-solid fa-heading"></i> {title}
            <p>
                <p title="Description ou détails de la photo"><i class="fa-solid fa-align-left"></i> {descript}</p>
                <p title="Lieu de l'événement"><i class="fa-solid fa-location"></i> {location}</p>
                <p title="Date de l'évenement"><i class="fa-solid fa-calendar"></i> {date}</p>
                <p>&nbsp;</p>
                <p title="Personnes identifiées"><i class="fa-solid fa-tags"></i> {tagList}</p>
                <p title="Source"><i class="fa-regular fa-compass"></i> {source}</i></p>
                <p title="Album"><i class="fa-regular fa-folder"></i> {folderTitle}</p>
                <p>&nbsp;</p>
                <p title="Auteur" class="author"><i class="fa fa-user" aria-hidden="true"></i> {author}</p>
                <p title="Nom du fichier"><i class="fa-solid fa-file"></i> {filename}</p>
                <p title="Création"><i class="fa-solid fa-file-arrow-up"></i> {createDate}</p>
                <p title="Dernière modification"><i class="fa-solid fa-pen-to-square"></i> {lastUpdate}</p>
                <p></p>
    </td>
    <td> {editBtn} </td>
    <!--<td><a class="btn btn-outline-info btn-sm" href="/userEditPicture/?filename={filename}"><i class="fa-solid fa-pen" title="Editer la photo"></i></a> <a class="btn btn-outline-danger btn-sm" href="/userDeletePicture/{id}"><i title="Supprimer la photo" class="fa-solid fa-trash"></i></a>        <a href="/pictureDetail/{filename}" class="btn btn-outline-primary btn-sm"><i title="Voir la photo et toutes les informations" class="fas fa-eye"></i></a></td>-->
</tr>