/*
  _____  ______ ______ _____ _   _ _____ _______ _____ ____  _   _  _____ 
 |  __ \|  ____|  ____|_   _| \ | |_   _|__   __|_   _/ __ \| \ | |/ ____|
 | |  | | |__  | |__    | | |  \| | | |    | |    | || |  | |  \| | (___  
 | |  | |  __| |  __|   | | | . ` | | |    | |    | || |  | | . ` |\___ \ 
 | |__| | |____| |     _| |_| |\  |_| |_   | |   _| || |__| | |\  |____) |
 |_____/|______|_|    |_____|_| \_|_____|  |_|  |_____\____/|_| \_|_____/ 
                                                                          
                                                                          
*/
/* DEFAULT COLORS */
:root{
    --texte:#4C4C57; /* default color for the text */
    --dominante:#ff5858; /* color main (for links for example, background-color navbar) */
    --dominaten2: #C03C3C; /* color main (for hover links for example)*/
    --background: #DADADA; /* background-color of the body */
    --bg-content: #fff; /* background-color of header, main and footer*/
}
@font-face{
    font-family:CaviarLight;
    src:url(/assets/font/CaviarDreams.ttf);
}
@font-face{
    font-family:CaviarMedium;
    src:url(/assets/font/Caviar_Dreams_Bold.ttf);
}
/* DEFAULT FONT FAMILY*/
body,input,button,textarea{
    font-family: CaviarLight;
    font-size:16px;
}

/*
   _____ ______ _   _ ______ _____            _      
  / ____|  ____| \ | |  ____|  __ \     /\   | |     
 | |  __| |__  |  \| | |__  | |__) |   /  \  | |     
 | | |_ |  __| | . ` |  __| |  _  /   / /\ \ | |     
 | |__| | |____| |\  | |____| | \ \  / ____ \| |____ 
  \_____|______|_| \_|______|_|  \_\/_/    \_\______|
                                                                                                    
*/
/* INIT */
*, html, body{
    margin:0px;
    padding:0px;
}
body{
    background-color: var(--background);
}
header, nav, main, footer{
    margin:0px 10px 0px 10px;
    background-color:var(--bg-content);
}