/* div contain page numbers */
div.paging{
    padding:10px;
    margin:0px;
    width:100%;
    background-color: var(--primary);
    color:#fff;
    text-align:center;
}
div.paging span + span{
    margin-left: 10px;
}
div.paging span.active{
    font-size:1.5em;
}