body{
    background-color: #e2e2e2;
}
div.login {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;

} 
div.login h1, div.login input, div.login p{
    text-align: center;
    display: block;
}
div.login p.websiteName{
    padding-bottom: 16px;
    font-weight: bold;
}
div.login h1, div.login p.forgot{
    margin:10px 0px;
}
div.login .back{
    cursor:pointer;
} 
div.modal{
    min-width:350px;
    max-width: 450px;
    background-color: #f9f9f9;
    margin:35px;
    padding:25px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -moz-border-radius:5px;
}
form.login input{
    max-width: 350px;
    width:100vw;
    border-radius:0px;
    border:0px;
    border-bottom:1px solid silver;
    outline:none;
    padding:8px 1px !important;
}
form.login input:active{
    border-bottom:1px solid gray;
}
form.login input[type="submit"]{
    margin-left:1px !important;
}